/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Apply styles to the header */
  header {
    background-color: #f1f1f1;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #bdb21c;
  }
  
  /* Apply styles to the hero section */
  .hero {
    background-image: url('https://cdn.pixabay.com/photo/2017/01/30/02/20/mental-health-2019924_640.jpg');
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero-content {
    text-align: center;
    color: #d61897;
   
  }
  
  
  .hero-content h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .hero-content p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  h1{
    color: #41d89e;
  }
  .cta-button:hover {
    background-color: #555;
  }
  
  /* Apply styles to the features section */
  .features {
    background-color: #f9f9f9;
    padding: 50px;
    text-align: center;
  }
  
  .features h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .features ul {
    list-style-type: none;
    margin: 0 auto;
    max-width: 600px;
  }
  
  .features li {
    margin-bottom: 10px;
  }
  
  /* Apply styles to the footer */
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  